[flake8]
select = B,B9,BLK,C,D,E,F,I0,S,ANN,W
ignore = E203,E501,W503
max-line-length = 80
max-complexity = 10
# Update to numpy when other libraries are fixed
docstring-convention = google
per-file-ignores =
    tests/*:S101
